{% extends 'base.html' %}

{% block content %}
<canvas id="noir-bg" style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>
<section class="hero">
    
    <div class="glow-text">
        <span class="normal">MIDNIGHT MATCHBOX INCIDENT</span>
        <span class="phantom">MIDNIGHT MATCHBOX INCIDENT</span> </div>
    <p class="fade-in">Living on the edge of chaos, awaiting the hollow waves of a fall. You are all invited here.</p>
    <!-- <div class="floating">▲</div>
    <div class="floating">✶</div> -->
</section>
<script src="/static/js/three_background.js"></script>
<div id="particle-container"></div> 
{% endblock %}